{% extends 'SalatSite/layout.html'%}
{% load static %}

{%block contentBody%}
<!DOCTYPE html>
<div style="position: absolute; width: 100%; height: 100%; background: transparent; z-index: 10;" id="overlay"></div>
<div class="Aside collapsed"> <!-- Добавил класс collapsed для свернутого меню -->
    <button id="toggleAside">≡</button>
    <img id="Logo" src="{%static 'SalatSite/images/logo.png'%}" alt="ошибка">
    <div id="navigation">
        <h2>Навигация:</h2>
    </div>
    <ul class="InfoAside">
        <a href="{%url 'home'%}"><li>Главная</li></a>
        <a href="{%url 'newsHome'%}"><li>Новости</li></a>
        <li>Попасть к нам</li>
        <li>Состав</li>
        <li>О нас</li>
    </ul>
</div>

<div id="Header">
    <div class="parallax"></div> <!-- Для параллакса -->
    <h1>S@LAT ROOM</h1>
</div>

<div class="MainContent">
    <section class="AboutUsSection">
        <h2>О нас</h2>
        <p>S@LAT ROOM — Команда собранная из обычных игроков, которые однажды попадут в Киберспорт</p>
    </section>

    <section class="ProjectsSection">
        <h2>Наши игры</h2>
        <p>Список игр в которых мы существуем: Counter-Strike2, Valorant, Minecraft, GTA V.</p>
    </section>
    <div id="allMembers">
        {%for listMembers in listMembers%}
        <div class="DsMembers">Имя: {{listMembers.name}}</div>
        {%endfor%}
    </div>
    <section class="TeamSection">
        <h2>Наш основной состав</h2>
        <div class="TeamMembers">
            <div class="MemberCard">
                <img src="{%static 'SalatSite/images/Tomato.jpg'%}" alt="Илья">
                <h3>Илья (Салат)</h3>
                <p>Основатель данной команды. Программист.</p>
            </div>

             <div class="MemberCard">
                <img src="{% static 'SalatSite/images/banana (1).png'%}" alt="">
                <h3> Антон </h3>
                <p>Зам.Главы. Дизайнер, звукорежиссёр.</p>
            </div>

             <div class="MemberCard">
                <img src="{%static 'SalatSite/images/изображение_2024-09-23_210100495.png'%}" alt="">
                <h3>Костя</h3>
                <p>Мл.Админ. Смотрящий за Дискорд каналом. Твич стример</p>
            </div>

             <div class="MemberCard">
                <img src="{%static 'SalatSite/images/изображение_2024-09-23_225955566.png'%}" alt="">
                <h3>Дима</h3>
                <p>Мл.Админ. Смотрящий за дискорд каналом. Пиар-менеджер</p>
            </div>

        </div>
    </section>
</div>


<script>
document.getElementById('toggleAside').addEventListener('click', function() {
    const aside = document.querySelector('.Aside');
    aside.classList.toggle('collapsed');
});
</script>

{%endblock%}
