{% extends 'SalatSite/layout.html'%}
{% load static %}

{%block contentBody%}
<!DOCTYPE html>
<div class="Aside collapsed"> <!-- Добавил класс collapsed для свернутого меню -->
    <button id="toggleAside">≡</button>
    <img id="Logo" src="{%static 'SalatSite/images/logo.png'%}" alt="ошибка">
    <div id="navigation">
        <h2>Навигация:</h2>
    </div>
    <ul class="InfoAside">
        <a href="{%url 'home'%}"><li>Главная</li></a>
        <a href="{%url 'newsHome'%}"><li>Новости</li></a>
        <li>Попасть к нам</li>
        <li>Состав</li>
        <li>О нас</li>
    </ul>
</div>

<div id="Header">
    <div class="parallax"></div> <!-- Для параллакса -->
    <h1>S@LAT ROOM</h1>
</div>

<div class="MainContent">
    <section class="AboutUsSection">
        <h2>О нас</h2>
        <p>S@LAT ROOM — Команда собранная из обычных игроков, которые однажды попадут в Киберспорт</p>
    </section>

    <section class="ProjectsSection">
        <h2>Наши игры</h2>
        <p>Список игр в которых мы существуем: Counter-Strike2, Valorant, Minecraft, GTA V.</p>
    </section>

    <section class="TeamSection">
        <h2>Наш основной состав</h2>
        <div class="TeamMembers">
            <div class="MemberCard">
                <img src="{%static 'Images/Tomato.jpg'%}" alt="Илья">
                <h3>Илья (Салат)</h3>
                <p>Основатель данной команды</p>
            </div>

             <div class="MemberCard">
                <img src="https://img.freepik.com/premium-vector/cool-banana-sun-glasses-cartoon_382438-512.jpg" alt="">
                <h3> Антон </h3>
                <p>Зам. Главы</p>
            </div>

             <div class="MemberCard">
                <img src="https://yt3.googleusercontent.com/mbSFGMYxuZ7fTiaPWWYAtER8VH_mj3k3-LaS10mA86j0zsH_iteFsT6f7aw1qd3JO90BmnWqGA=s900-c-k-c0x00ffffff-no-rj" alt="">
                <h3>Костя</h3>
                <p>Мл.Админ</p>
            </div>

             <div class="MemberCard">
                <img src="" alt="">
                <h3> </h3>
                <p> </p>
            </div>

        </div>
    </section>
</div>

<script>
document.getElementById('toggleAside').addEventListener('click', function() {
    const aside = document.querySelector('.Aside');
    aside.classList.toggle('collapsed');
});
</script>
{%endblock%}
