{%extends 'allmembers/layout.html' %}
{%load static%}
{%block contentBody%}
<!DOCTYPE html>
<div class="Aside collapsed"> <!-- Добавил класс collapsed для свернутого меню -->
    <button id="toggleAside">≡</button>
    <img id="Logo" src="{%static 'SalatSite/images/logo.png'%}" alt="ошибка">
    <div id="navigation">
        <h2>Навигация:</h2>
    </div>
    <ul class="InfoAside">
        <a href="{%url 'home'%}"><li>Главная</li></a>
        <a href="{%url 'newsHome'%}"><li>Новости</li></a>
        <a href="{%url 'inv'%}"><li>Попасть к нам</li></a>
        <a href="{%url 'members'%}"><li>Наш Состав</li></a>
        <li>О нас</li>
    </ul>
</div>

<div id="Header">
    <div class="parallax"></div> <!-- Для параллакса -->
    <h1>S@LAT ROOM</h1>
</div>
<div id="AllmembersContent">
    <div id="allMembers">
        <div class="Member">
            <h1 class="Name">Илья</h1>
            <img class="Avatar" src="{%static 'SalatSite/images/Tomato.jpg'%}" alt="">
            <h3 class="infoMembers">Илья - Основатель этой команды. Занимается развитием команды, разработкой сайта, телеграм ботов и вообще всем чем можно.</h3>
        </div>
    </div>
</div>

<script>
document.getElementById('toggleAside').addEventListener('click', function() {
    const aside = document.querySelector('.Aside');
    aside.classList.toggle('collapsed');
});
</script>
{%endblock%}